@import url("https://p.typekit.net/p.css?s=1&k=tpv8aqd&ht=tk&f=41111&a=59463141&app=typekit&e=css");

@font-face {
  font-family: "roc-grotesk";
  src: url("https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/97dd77/00000000000000007735b7d4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roc-grotesk", sans-serif;
}

html,
body {
  max-width: 450px;
  overflow-x: hidden;
  margin: auto;
  font-size: 16px;
  font-style: normal;
  scroll-behavior: smooth;
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}



.globalWrapper {
  padding: 10vh 2rem 0;
}