.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 100vh;
  min-height: 100vh;
  padding: 10vh 2rem;
  position: relative;
  opacity: 0;
  transition: 800ms ease-in-out;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 300;
  gap: .7rem;
  padding-bottom: 10vh;
  max-height: 100%;
  overflow-y: scroll;
}

.bg {
  background-color: white;
}

.active {
  opacity: 1;
}

.p {
  line-height: 1.2rem;
}