.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 10vh 2rem 0;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
}

.composition {
  display: flex;
  flex-direction: column;
  font-size: 2.75rem;
  font-weight: 300;
  margin-top: 15vh;
}
