.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 10vh 2rem 0;
  background-color: rgba($color: #ffffff, $alpha: 0);
  transition: 600ms;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
}

.composition {
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
}

.button {
  border: 0;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.span {
  font-size: 2.75rem;
  font-weight: 300;
}

.active {
  background-color: rgba($color: #ffffff, $alpha: 0.6);
}