.wrapper {
  position: fixed;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
}

.content {
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main {
  background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 1));
  max-width: 450px;
  margin: auto;
  padding-top: .6rem;
}

.shadow {
  height: 2rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .7));
  
}

.image {
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 0 1rem;
  font-size: .8rem;
  font-weight: 400;
}

.nav:first-child {
  flex: 1;
}

.nav:last-child {
  flex: 1;
}

.active {
  font-weight: 600;
}

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}