.footerWrapper {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  min-width: 100%;
  background-color: transparent;
  color: white;
  text-align: center;
}

.image {
  margin: auto auto 1.5rem;
}