.wrapper {
  position: fixed;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
}

.content {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main {
  background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 1));
  max-width: 450px;
  margin: auto;
}

.shadow {
  height: 2rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .7));
  font-size: 1rem;
  font-weight: 200;
}

.image {
  margin: auto auto 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 0 1rem;
}