.wrapper {
  text-align: center;
  background-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: auto;
  z-index: 1;
}

.main {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .7));
}

.shadow {
  height: 10vh;
  background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, 0));
}