.homepage {
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.title {
  width: 90%;
  color: black;
  margin: 40vh auto 0;
  font-weight: 300;
  font-size: 2.1rem;
  text-align: left;
}

.image {
  margin: auto auto 3.5rem;
}

.button {
  display: block;
  margin: 1rem 1rem 0 auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.p {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 1rem;
}