.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding-top: 10vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-weight: 300;
}

.top {
  font-size: 1.5rem;
  font-weight: 300;
}

.topPick {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
  gap: .2rem;
}

.logo {}

.bottom {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 300;
  gap: 5vw;
}

.picSection {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.picItems {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  height: 100%;
  width: 100;
}

.img {
  display: block;
  height: 100%;
  width: auto;
  margin: 0;
}

.imgWrapper {
  overflow: hidden;
}