.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  padding: 10vh 2rem;
  opacity: 0;
  transition: 800ms ease-in-out;
}

.tiers {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 300;
  gap: .7rem;
  margin-top: 15vh;
}

.map {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 300;
}

.tierElement {
  display: grid;
  grid-template-columns: 2fr 4fr;
  font-size: 2.5rem;
  font-weight: 300;
  gap: 1rem;
}

.tier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.2rem;
}

.details {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 300;
  justify-content: center;
  gap: .2rem;
}

.info {
  font-size: .7rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  margin: auto auto 15vh;
}

.active {
  opacity: 1;
}

.bg {
  background-color: rgba($color: #ffffff, $alpha: 0);
  transition: 600ms ease-in-out;
}

.activeBg {
  background-color: rgba($color: #ffffff, $alpha: 0.6);
}